<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acumatica.DeviceHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PrintService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acumatica.DeviceHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrintService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Acumatica.DeviceHub.Properties.Settings>
            <setting name="PrinterPollingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DeviceHub_ScreenApi_Screen" serializeAs="String">
                <value>http://10.211.55.13/AcumaticaDemo60/Soap/.asmx</value>
            </setting>
            <setting name="ErrorWaitInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ScalePollingInterval" serializeAs="String">
                <value>500</value>
            </setting>
        </Acumatica.DeviceHub.Properties.Settings>
        <PrintService.Properties.Settings>
            <setting name="PollingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </PrintService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Acumatica.DeviceHub.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Queues" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleDeviceVendorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleID" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleDeviceProductId" serializeAs="String">
                <value>0</value>
            </setting>
        </Acumatica.DeviceHub.Properties.Settings>
        <PrintService.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintService_Acumatica_Screen" serializeAs="String">
                <value>http://10.211.55.13/AcumaticaDemo60/Soap/.asmx</value>
            </setting>
            <setting name="Queues" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleDeviceVendorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleID" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleDeviceProductId" serializeAs="String">
                <value>0</value>
            </setting>
        </PrintService.Properties.Settings>
    </userSettings>
</configuration>